/* Font */
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

/* Varibales */
:root {
  --c-brand: #387adf;
  --c-dark: #303050;
  --c-body: #636383;
  --f-main: "Bai Jamjuree", sans-serif;
  --transition: all 0.6s cubic-bezier(0.165 0.84 0.44 0.1);
  --shadow: 0px 15px 40px rgba(0, 0, 0, 0, 1);
}

/* Reset and Helpers */
body {
  font-family: var(--f-main);
  color: var(--c-body);
  line-height: 1.7;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 700;
  color: var(--c-dark);
}

a {
  text-decoration: none;
  color: var(--c-dark);
  transition: var(--transition);
}

a:hover {
  color: var(--c-brand);
}

img {
  width: 100%;
}

.section-padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* Navbar */
.navbar {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 16px;
    padding-left: 16px;
  }
}

.navbar .navbar-nav .nav-link {
  font-weight: 500;
  color: var(--c-dark);
}

.navbar .navbar-nav .nav-link:hover {
  color: var(--c-brand);
}

.navbar-brand {
  font-size: 24px;
  font-weight: 700;
  color: var(--c-dark);
}

.social-icon {
  width: 36px;
  height: 36px;
  background-color: var(--c-brand);
  color: white;
  border: 2px solid var(--c-brand);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
}

.social-icon:hover {
  background-color: transparent;
}
