/* import font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

/* css variables begin */
:root {
  --primary-color: #ff4301;
  --dark-color: #0c2d57;

  --h1-font-size: 40px;
  --h2-font-size: 32px;
  --small-font-size: 14px;
}
/* css variables end */

/* reset css begin */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}
/* reset css end */

/* global css start */
section {
  padding: 70px 0;
}

section .section-title {
  color: var(--primary-color);
  font-weight: bold;
  text-transform: uppercase;
}

.text-orange {
  color: var(--primary-color);
}

.text-orange:hover {
  color: var(--primary-color);
}

.text-orange:focus {
  color: var(--primary-color);
}
/* global css end */
