/* import font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

/* reset css begin */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

/* reset css end */

/* global css start */
section {
  padding: 70px 0;
}
/* global css end */
